.chat-page {
  display: flex;
  height: 100vh;

  /* Боковая панель */

  &__side-panel {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 362px;
    height: 100%;
    background: var(--color-white);
    box-shadow: 0px 8px 48px -16px rgba(0, 0, 0, .25);
  }

  &__side-panel-header {
    flex-shrink: 0;
    padding: 24px;
  }

  &__contact-card-list {
    overflow-y: auto;
    flex-grow: 1;
    padding: 24px;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  &__side-panel-footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    min-height: 72px;
    padding: 12px 24px;
    gap: 16px;
  }

  /* Не выбран чат */

  &__unselected-сhat-window {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }

  &__unselected-сhat-message {
    font-size: 16px;
    margin: 0;
    padding: 0 24px;
  }

  /* Окно сообщений */

  &__main {
    //display: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__message-list {
    overflow-y: auto;
    flex-grow: 1;
    padding: 24px;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  /* Попапы */

  &__new-chat-popup {
    width: 100%;
    max-width: 480px;
  }

  &__user-list {
    margin: 24px 0 0;

  }

}
