.chat-card {
  display: grid;
  padding: 8px;
  transition: box-shadow .25s;
  border-radius: 8px;
  background: var(--color-white);
  box-shadow: inset 0 0 0 1px var(--color-border);
  grid-template-columns: min-content auto min-content;

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2px var(--color-primary);
  }

  &_active {
    background: var(--color-selected);
    box-shadow: none;
  }

  &__avatar {
    width: 48px;
    height: 48px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1 / 3;
  }

  &__name-wrapper {
    display: flex;
    align-items: center;
  }

  &__group-marker {
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
    background-image: url("../../../assets/images/group-marker.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__name {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    grid-column: 2;
    grid-row: 1;
  }

  &__counter-unread-messages {
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: var(--color-white);
    border-radius: 4px;
    background: var(--color-primary);
    justify-self: flex-end;
    grid-column: 3;
    grid-row: 1;
  }

  &__last-message {
    font-size: 11px;
    margin: 0;
    color: var(--color-secondary);
    grid-column: 2;
    grid-row: 2;
  }

  &__updated-at {
    font-size: 11px;
    align-self: flex-end;
    white-space: nowrap;
    color: var(--color-secondary);
    justify-self: flex-end;
    grid-column: 3;
    grid-row: 2;
  }
}
