.profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__main {
    position: relative;
    width: 100%;
    max-width: 486px;
    padding: 24px;
    border-radius: 12px;
    background-color: var(--color-white);
    box-shadow: 0 8px 48px -16px rgba(0, 0, 0, .25);
  }

  &__header {
    position: relative;
  }

  &__come-back-button {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    margin: 0 48px;
    text-align: center;
  }

  &__avatar-wrapper {
    position: absolute;
    top: 100px;
    right: 24px;
  }

  &__choose-avatar {
    width: 128px;
    height: 128px;
    border-radius: 8px;
  }

  &__form-fields {
    display: grid;
    width: 292px;
    margin: 48px 0 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  &__form-buttons {
    display: flex;
    flex-direction: column;
    margin: 48px 0 0;
    gap: 16px;
  }

  &__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 16px 0 0;
  }

  &__password-button {
    color: var(--color-primary);
  }

  &__sign-out-button {
    color: var(--color-error);
  }
}
