.message-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--color-background);

  &__item {
    margin: 0 0 16px;

    &:first-of-type {
      margin: auto 0 16px;
    }

    &:last-of-type {
      margin: 0;
    }
  }
}
