.index-page {
  padding: 64px;

  &__title {
    font-size: 64px;
    font-weight: normal;
    font-style: normal;
  }

  &__links-title {
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
  }
}
