.chat-header {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  gap: 8px;
  position: relative;

  &__avatar {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 4px;
  }

  &__name {
    flex-grow: 1;
    margin: 0;
    font-weight: 500;
    font-size: 13px;
  }

  &__more-menu {
    top: 56px;
    right: 24px;
    z-index: 1;
  }
}
