.error-info {
  max-width: 340px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 48px 24px 48px;
  box-shadow: 0 8px 48px -16px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
  }

  &__message {
    margin: 8px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
  }

  &__return-link {
    margin: 48px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--color-primary);
    text-decoration: none;
    text-align: center;
  }

  &__return-link:hover {
    text-decoration: underline;
  }
}
