.menu {
  background-color: transparent;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu__item {
  margin: 0 16px 0 0;
}

.menu__item:last-of-type {
  margin: 0;
}